body {
  background-color: #02012C;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  padding: 0 5%;
}

::ng-deep .p-dropdown .p-component .p-inputwrapper .p-inputwrapper-filled {
  color: red;
}
